services:
  api:
    build: ./backend
    restart: unless-stopped
    environment:
      DATABASE_URL: "mongodb://mongo:27017/calorias_db"
    depends_on:
      - mongo
    volumes:
      - mongo-data:/data/db


  frontend:
    build: ./frontend
    restart: unless-stopped
    ports:
      - "8080:80"
    depends_on:
      - api 

  mongo:
    image: mongo
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: